#veranstaltungen {color: #1a81c3;}
body {
    background-image: url("bilder/vorhang.png");
    margin: 0;
}
.event 
{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-right: 4px;
    padding-left: 4px;
    margin-bottom: 12px;
    background-color: white;
    box-sizing: border-box;
    text-align: center;
    border: outset;
    margin-top: 8px;
}
.event h1 {font-size: 4.8vw;}
.event h2 {font-size: 4.4vw;}
.event img{float: left;}
.event-img
{
    width: 40%;
    height: auto;
    float: left;
}
.event p
{
    float: left;
    font-size: 4.4vw;
    text-align: left;
}
.event button 
{
    width: auto;
    height: auto;
    font-size: 4vw;
    position: relative;
    left: 3px;
    border-radius: 5px;
    text-align: center;
    border: solid;
    border-width: 1px;
    cursor: pointer;
    background-color: #f1f1f1;
    padding:0vw 4vw;
    box-sizing: border-box;
}
.event-text
{
    position: relative;
    bottom: 5px;
}
@media only screen and (min-width: 1000px) 
{
    .event
    {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 20px;
    }
    .event p
    {
        font-size: 1.92vw;
    }
    .event button 
    {
    font-size: 1.6vw;
    padding:0vw 1.6vw;
    }
    .event h1 {font-size: 2.24vw;}
    .event h2 {font-size: 1.92vw;}
    .event-text
{   
    bottom: 0px;
    top: 30px;
}
}